.config/*

!.config/btop
!.config/fastfetch
!.config/nvim
!.config/qutebrowser
!.config/shellrc
!.config/dwl
!.config/somebar
!.config/someblocks
!.config/alacritty
!.config/kanata
!.config/kitty
!.config/rofi
!.config/tmux
!.config/cava
!.config/hypr
!.config/i3
!.config/sway
!.config/waybar
!.config/st
