[submodule ".config/tmux/plugins/tmux-pomodoro-plus"]
	path = .config/tmux/plugins/tmux-pomodoro-plus
	url = https://github.com/olimorris/tmux-pomodoro-plus
[submodule ".config/tmux/plugins/tmux-gruvbox"]
	path = .config/tmux/plugins/tmux-gruvbox
	url = https://github.com/egel/tmux-gruvbox
[submodule ".config/tmux/plugins/tmux-sensible"]
	path = .config/tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule ".config/tmux/plugins/tmux-sidebar"]
	path = .config/tmux/plugins/tmux-sidebar
	url = https://github.com/tmux-plugins/tmux-sidebar
[submodule ".config/tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".config/dwl"]
	path = .config/dwl
	url = https://github.com/Vlvin/dwl
[submodule ".config/somebar"]
	path = .config/somebar
	url = https://github.com/Vlvin/somebar
[submodule ".config/someblocks"]
	path = .config/someblocks
	url = https://github.com/Vlvin/someblocks
[submodule ".config/shellrc/plugins/zsh-autosuggestions"]
	path = .config/shellrc/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".config/shellrc/plugins/zsh-syntax-highlighting"]
	path = .config/shellrc/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule ".config/shellrc/plugins/zsh-256color"]
	path = .config/shellrc/plugins/zsh-256color
	url = https://github.com/chrissicool/zsh-256color
[submodule ".config/shellrc/powerlevel10k"]
	path = .config/shellrc/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
[submodule ".config/st"]
	path = .config/st
	url = https://github.com/Vlvin/st.git
