.config/*

!.config/btop
!.config/fastfetch
!.config/nvim
!.config/qutebrowser
!.config/shellrc
!.config/dwl
!.config/wmenu
!.config/mango
!.config/quickshell
!.config/somebar
!.config/someblocks
!.config/alacritty
!.config/kanata
!.config/kitty
!.config/foot
!.config/rofi
!.config/tmux
!.config/cava
!.config/waybar
!.config/neovide
!.config/plymouth
!.config/rmpc
!.config/runit
!.config/scripts
!.config/zathura

